@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Serif&display=swap');

/* remove default */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Noto Serif", serif;
    color: #ff0000;
    background-color: #000000;
}

/* headings */
h1,
h2,
h3 {
    font-family: "Noto Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: #ff0000;
}

.headings {
    text-align: center;
    padding: 30px 0;

}

/* logo */
#logo {
    float: left;
    font-size: 200%;
    margin-left: 30px;

}

/* multi line in logo */
.multi-line {
    font-size: 50%;
}

br {
    display: block;
    margin-top: -20px;
    content: "";
}

/* navigation menu */
#menu {
    font-size: 110%;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    padding-top: 20px;
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
}

#menu,
a {
    text-decoration: none;
    color: #ff0000;
}

#menu a:hover {
    border-bottom: 1px solid #ff0000;
}

/*revers direction of menu */
#menu {
    display: flex;
    flex-direction: row;
    float: right;
}

/* hero image */
#hero-image {
    width: 100%;
    height: 600px;
    background-image: url(../images/hero-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

#hero-box {
    width: 100%;
    height: 600px;
    position: relative;
    clear: both;
}

/* hero text */
.hero-text h2 {
    color: #ffff;
}

.hero-text {
    width: 400px;
    height: 100px;
    position: absolute;
    top: 200px;
    right: 30px;

}

/* about */
#about {
    text-align: center;

}

#about div {
    width: 80%;
    display: inline-block;
}

.about-text {
    padding: 20px 40px;
    letter-spacing: 0.06em;
}

/* classes */
.lessons-image {
    width: 200px;
    height: 200px;
    padding: 15px;
    vertical-align: top;
}

figure {
    display: inline;
    margin-left: 30px;
}

.lessons-text {
    display: inline-block;
    width: 30%;
    height: 60%;
}

.lessons-text>p {
    letter-spacing: 0.06em;
    padding: 4px;
}

/* contact us */
#contact-form {
    width: 40%;
    margin: auto;
}

.input-text {
    width: 100%;
    padding: 10px;
    color: #ffff;
    background-color: transparent;
    border: 1px solid #ffff;
    border-radius: 2px;
    margin: 5px 0 10px 0;
}

.input-text:hover {
    border-color: #ff0000;
}

textarea {
    width: 100%;
    height: 200px;
    color: #ffff;
    background: transparent;
    border: 1px solid #ffff;
    border-radius: 2px;
    margin: 5px 0 10px 0;
}

textarea:hover {
    border-color: #ff0000;
}

.send-button {
    font-size: 100%;
    padding: 10px 20px;
    background-color: #ff0000;
    border-radius: 2px;
    color: #ffff;
    cursor: pointer;
}
.contact-link {
    text-decoration: underline;
}

/* footer */
footer {
    height: 100px;
    text-align: center;
}

.social-media {
    padding-top: 30px;
}

footer i {
    font-size: 200%;
    color: #ff0000;
    margin: 2%;
}

address {
    padding-bottom: 2%;
}

/* confirmation page for form code from www.w3schools.com */
.confirmation {
    text-transform: uppercase;
    letter-spacing: 0.3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* media queries */

/* Extra large devices (large laptops and desktops, 1350px and down) */
@media screen and (max-width: 1350px) {
    .classes-box {
        display: block;
    }

    .lessons-text {
        display: inline-block;
        width: 60%;
        height: 60%;
    }
}

/* Large devices (laptops/desktops, 992px and down) */
@media screen and (max-width: 992px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    #contact-form {
        width: 70%;
        margin: auto;
    }

    #hero-image {
        width: 100%;
        height: 400px;
        background-image: url(../images/hero-mobile.jpg);
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;

    }

    #hero-box {
        width: 100%;
        height: 400px;
        position: relative;
        clear: both;
    }
    figure {
        margin: auto;
    }

}

/* Medium devices (tablets, 760px and down) */
@media screen and (max-width:760px) {
    .classes-box {
        width: 90%;
        margin: auto;
        text-align: center;
    }

    .lessons-text {
        width: 90%;
    }

    #about div {
        width: 90%;
    }
    .multi-line {
        display: block;
        padding-top: 1.5em;
        content: "";
    }
    #logo {
        font-size: 1.5em;
        margin-left: 20px;
    }

}

/* Small devices (mobile phones, 500px and down) */
@media screen and (max-width: 500px) {
    #menu {
        display: flex;
        flex-direction: column;
        margin-left: 20px ;
    }

    .hero-text {
        width: 90%;
        margin-left: 30px;
        left: 0;
    }
    /*.multi-line {
        display: block;
        padding-top: 1.5em;
        content: "";
    }
    #logo {
        font-size: 1.5em;
        margin-left: 20px;
    }*/

}